.back-hero {
  background-color: #2e2f42;
  /* width: 1440px;
  height: 600px; */
}
.banner-logo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.banner-button {
  background-color: #404bbf;
  font-weight: 400;
  font-size: large;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.banner-button:hover {
  cursor: pointer;
  background-color: #404bbf;
  color: #ffffff;
}
.banner-button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
}
/* .button-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
} */
