.back-team {
  background: #f4f4fd;
}
.logo-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.ul-team {
  list-style: none;
}
.name-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.p-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.box-team {
  box-shadow:
    0 2px 1px 0 #2e2f4214,
    0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
  background: #ffffff;
}
